@page
@model NetshopRazor.Pages.ContactModel
@{
}

<div class="row">
    <div class="col-lg-9 mx-auto p-3">
        <h3 class="mb-3 font-weight-normal text-center pb-4">Contact Form</h3>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">First Name*</label>
                <div class="col-sm-8">
                    <input class="form-control" >
                    <span  class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Last Name*</label>
                <div class="col-sm-8">
                    <input class="form-control" >
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email*</label>
                <div class="col-sm-8">
                    <input class="form-control" >
                    <span  class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input class="form-control" >
                    <span  class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" >Subject*</label>
                <div class="col-sm-8">
                    <select class="form-select">
                        <option value="Order Status">Order Status</option>
                        <option value="Refund Request">Refund Request</option>
                        <option value="Job Application">Job Application</option>
                        <option value="Other">Other</option>
                    </select>
                    <span  class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" >Message*</label>
                <div class="col-sm-8">
                    <textarea class="form-control" ></textarea>
                    <span  class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-4" col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>