@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["NoContainer"] = true;
}

<!-- Hero section -->
<div class="py-5" style="background-color: #08618d;">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-6 pb-3">
                <h1 class="display-2"><strong>Best Books</strong></h1>
                <br />
                <p>
                    We have the best books in the world. You will love reading them.
                    We have a large selection of books from different categories.
                    You will definitely find what makes you happy.
                </p>
                <br />
                <form class="d-flex" action="/Books">
                    <input class="form-control me-2" name="search" placeholder="Search by Title or Author">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>

            </div>
            <div class="col-md-6">
                <img src="/images/books.png" class="img-fluid rounded" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Newest Books Section -->
<div class="py-5">
    <div class="container">
        <h1 class="pb-5 text-center display-5"><strong>Newest Books</strong></h1>
        <div class="row">
        
        </div>
    </div>
</div>

<!-- Top Sales Section -->
<div class="py-5" style="background-color: #e9ecf0;">
    <div class="container">
        <h1 class="pb-5 text-center display-5"><strong>Top Sales</strong></h1>
        <div class="row">
           
        </div>
    </div>
</div>